body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  overflow: hidden;
  border: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.app {
  height: 100vh;
  font-family: sans-serif;
  min-height: 100vh;
  background: linear-gradient(to top, #2e6bdc, #0686e7c2);
  text-align: center;
}

.app.cloudy {
  background: linear-gradient(to top, #d7d2cc, #304352);
}

.app.rainy {
  background: linear-gradient(to top, #4e54c8, #8f94fb);
}

.app.snowy {
  background: linear-gradient(to top, #e6e9f0, #eef1f5);
}

.weather-header {
  display: flex;
}

.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px);
}

/*Search start  */
.search {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

div.search input {
  width: 500px;
  height: 60px;
  border-radius: 35px;
  border: none;
  font-size: 22px;
  padding-left: 20px;
  padding-right: 20px;
}

input:focus-visible {
  outline-offset: 0px;
  outline: none;
}

/* Search end */

/* Weather card start */
.city-name {
  font-size: 1.6rem; /* մեծ city name */
  font-weight: bold;
  margin: 5px 0;
}

.temperature {
  font-size: 2.5rem; /* շատ մեծ ջերմաստիճան */
  font-weight: bold;
  margin: 10px 0;
  color: #ff6b6b; /* optional, լավ նկատելի տաքությունը */
}

.condition {
  font-size: 1.2rem; /* ավելի մեծ condition text */
  color: #555;
  margin: 5px 0;
}

.card h1 {
  font-size: 60px;
}

/*Weather card end  */
